<md-card>
  <md-card-title>Secret Santa Allocation System</md-card-title>
  <md-card-subtitle>Welcome to SSAS</md-card-subtitle>
  <img md-card-image src="app/assets/christmas.png">
  <md-card-content>
    <p>
      What to do:
    </p>
    <ol>
      <li>Log in with your facebook account</li>
      <li>Tell your secret santa what you dislike</li>
      <li>Keep an eye on the facebook group</li>
      <li>Log in again to find out your master</li>
    </ol>
  </md-card-content>
  <md-card-actions>
    <div ifFBReady>
      <button md-raised-button color="primary" (click)="login()">Login with Facebook</button>
    </div>
  </md-card-actions>
</md-card>
