<md-card>
  <md-card-title>Secret Santa Allocation System</md-card-title>
  <md-card-subtitle>Welcome to SSAS</md-card-subtitle>
  <img md-card-image src="app/assets/christmas.png">
  <md-card-content>
    <p>
      As an annual tradition, the secret santa is happening again! You all will soon become somebody's secret santa. Then you will have to bring him/her a christmas gift at the Christmas dinner. This year's budget is around &pound;15.
    </p>
    <p>
      What to do:
    </p>
    <ol>
      <li>Log in with your facebook account</li>
      <li>Make some wishes</li>
      <li>Keep an eye on the facebook group/event page</li>
      <li>Log in again to find out your master</li>
    </ol>
  </md-card-content>
  <md-card-actions>
    <div ifFBReady>
      <button md-raised-button color="primary" (click)="login()">Login with Facebook</button>
    </div>
  </md-card-actions>
</md-card>
