<form (ngSubmit)="submit()">
  <md-card>
    <md-card-title>Tell your secret santa what you dislike.</md-card-title>   
    <md-card-subtitle>
      To avoid getting something you dislike, enter 3 things that you wouldn't wish to receive.
      <p [innerHTML]="examples"></p>
    </md-card-subtitle>
    <md-card-content>
      <md-input type="text"
        name="wish{{i}}"
        *ngFor="let i of [0,1,2]"
        [(ngModel)]="wishes[i]">
      </md-input>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit">SUBMIT</button>
      {{message}}
    </md-card-actions>
  </md-card>
</form>
